@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: antiquewhite;
}
nav {
	font-family: "Ubuntu", sans-serif;
}
nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	height: 65px;
	background-color: black;
	color: white;
}
nav ul li {
	padding: 0 12px;
}
.brand {
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.3rem;
}
.brand img {
	width: 44px;
	padding: 0 8px;
}
